{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">

  {%- if alert -%}
    <div class="account__alert account__alert--danger">{{ alert }}</div>
  {%- endif -%}

  {%- if notice -%}
    <div class="account__alert account__alert--info">{{ notice }}</div>
  {%- endif -%}

  {%- if success_link_url -%}
    <a href="{{ success_link_url }}">{{ "auth.invite.success_link_label" | user_t }}</a>
  {%- endif -%}

  {%- if hide_form == false -%}
    <div class="account__alert account__alert--info">
      <p>
        {{ "auth.invite.you_are_invited" | user_t }}
      </p>

      <p>
        {{ "auth.invite.please_enter_password" | user_t }}
      </p>
    </div>

    {% form 'accept_invitation' %}
      {%- assign password_label = "auth.fields.password" | user_t -%}
      {%- assign password_confirmation_label = "auth.fields.password_confirmation" | user_t -%}
      {%- assign button_accept_label = "auth.invite.accept" | user_t -%}
      {%- render 'form-password-session-pages',
          form: form,
          form_name: "accept_invitation",
          password_label: password_label,
          password_confirmation_label: password_confirmation_label,
          button_label: button_accept_label
      -%}
    {% endform %}
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Accept invitation form",
    "important": true,
    "unique": true,
    "templates": ["accept-invitation"],
    "settings": []
  }
{% endschema %}
