{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">

  <div class="account__title-icon">
    <i class="fa-solid fa-badge-check breadcrumbs__chevron"></i>
  </div>

  <h3 class="account__title account__title--centered">
    {{ "auth.user_confirmed" | user_t }}
  </h3>

  <div class="description description--centered">
    {{ "auth.user_confirmed_description" | user_t }}
  </div>

  <a href="{{ routes.login_url }}" class="account__button account__button--primary">
    {{ "auth.sign_in_button" | user_t }}
  </a>

</div>

{% schema %}
  {
    "name": "Activate account",
    "important": true,
    "unique": true,
    "templates": ["activate-account"],
    "settings": []
  }
{% endschema %}
