{{ "header.css" | asset_url | stylesheet_tag }}
{{ "list-menu.css" | asset_url | stylesheet_tag }}

{% assign app = section.blocks | where: "type", "app" | first -%}

{% if app %}
  {{ "app.css" | asset_url | stylesheet_tag }}
{% endif %}

<style>
  {% if section.settings.background_color != blank %}
    .header,
    .header__wrapper,
    .header-search__input,
    .header-search__wrapper {
      background-color: {{ section.settings.background_color }} !important;
    }

    .header-search__input:autofill,
    .header-search__input:-webkit-autofill {
      background-color: {{ section.settings.background_color }} !important;
    }
  {% endif %}

  {% if section.settings.foreground_color != blank %}
    .header__text-logo,
    .header-search__input,
    .header-search__icon,
    .header-cart .fa-spinner-third,
    .header__link img {
      color: {{ section.settings.foreground_color }};
    }

    .header-search__input {
      border-color: {{ section.settings.foreground_color }} !important;
    }

    .header-search__input::placeholder {
      color: {{ section.settings.foreground_color | append: "B3"  }} !important;
    }

    .header-search__input:focus {
      border-color: {{ section.settings.foreground_color }} !important;
    }

    .list-menu--vertical > .list-menu__item {
      border-color: {{ section.settings.foreground_color | append: "66" }} !important;
    }

    .header-cart bq-minicart-button {
      --minicart-button-color: {{ section.settings.foreground_color }};
      --minicart-button-hover-color: {{ section.settings.foreground_color }};
    }

  {% endif %}

  .header__wrapper--with-mini-cart {
    grid-template-columns: 1fr max-content 50px{% if section.blocks.size > 0 %} repeat({{ section.blocks.size }}, max-content){% endif %};
  }
</style>

<div class="header__wrapper{% if show_mini_cart %} header__wrapper--with-mini-cart{% else %} header__wrapper--without-mini-cart{% endif %}">
  <div class="header__link-container">
    <a href="{{ routes.root_url }}" class="header__link">
      {% if section.settings.logo.url != blank %}
        <img
          src="{{ section.settings.logo | image_url }}"
          alt="{{ shop.name }}"
          class="header__image-logo"
        >
      {% elsif section.settings.custom_title != blank %}
        <h1 class="header__text-logo">{{ section.settings.custom_title }}</h1>
      {% elsif shop.logo_url != blank %}
        <img
          src="{{ shop.logo_url }}"
          alt="{{ shop.name }}"
          class="header__image-logo"
        >
      {% else %}
        <h1 class="header__text-logo">{{ shop.name }}</h1>
      {% endif %}
    </a>
  </div>

  <div class="header-search">
    <input type="checkbox" id="floating-search">
    <label for="floating-search" class="header-search__trigger">
      <i class="fa-light fa-magnifying-glass header-search__icon open"></i>
    </label>
    <div class="header-search__wrapper">
      <form id="search" action="{{ routes.search_url }}" role="search">
        <div class="header-search__input-wrapper">
          <i class="fa-light fa-magnifying-glass header-search__icon"></i>
          <input type="search" name="q" class="header-search__input" placeholder="{{ section.settings.search_placeholder }}">
        </div>
        <label class="header-search__trigger" for="floating-search">
          <i class="fa-light fa-xmark header-search__icon close"></i>
        </label>
      </form>
    </div>
  </div>

  {% if show_mini_cart %}
    <div class="header-cart">
      {{ cart_button }}
      <i class="fa-regular fa-spinner-third fa-spin"></i>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "templates": [],
  "layout": true,
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Translations"
    },
    {
      "type": "text",
      "id": "search_placeholder",
      "label": "Search placeholder",
      "default": "Search products"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "custom_title",
      "label": "Custom title",
      "description": "Note: Header logo always overrides this title"
    },
    {
      "type": "menu",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "placeholder": "Default"
    },
    {
      "type": "color",
      "id": "foreground_color",
      "label": "Foreground color",
      "placeholder": "Default"
    }
  ]
}
{% endschema %}
