{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <h3 class="account__title">{{ "auth.sign_in.title" | user_t }}</h3>

  <div class="account__divider">
    {{ "auth.sign_in.description" | user_t }}
  </div>

  {%- if alert -%}
    <div class="account__alert account__alert--danger">{{ alert }}</div>
  {%- endif -%}

  {%- if notice -%}
    <div class="account__alert account__alert--info">{{ notice }}</div>
  {%- endif -%}

  {% form 'login' %}
    <div>
      <label for="user_email" class="account-fieldset__label">{{ "auth.fields.email" | user_t }}</label>
      <input
        value="{{ form.email }}"
        class="account-fieldset__input"
        placeholder=" "
        autofocus="autofocus"
        autocomplete="email"
        type="email"
        name="user[email]"
        id="user_email">
    </div>

    <div>
      <label for="user_password" class="account-fieldset__label">{{ "auth.fields.password" | user_t }}</label>
      <input
        value="{{ form.password }}"
        class="account-fieldset__input"
        placeholder=" "
        autocomplete="current-password"
        type="password"
        name="user[password]"
        id="user_password">
    </div>

    <div class="account__divider">
      <a href="{{ routes.new_reset_password_url }}" class="account__link">{{ "auth.forgot_password_button" | user_t }}</a>
    </div>

    <div class="account__divider">
      <input
        type="submit"
        class="account__button account__button--primary"
        name="commit"
        value="{{ "auth.sign_in_button" | user_t }}"
      >
    </div>

    <hr class="account__separator" />

    {%- if shop.allow_signup -%}
      <a href="{{ routes.register_url }}" class="account__button account__button--secondary account__divider">{{ "auth.sign_in.create_account" | user_t }}</a>
    {%- endif -%}

    {%- if shop.allow_guest_checkout and guest_checkout_url -%}
      <a href="{{ guest_checkout_url }}" class="account__button account__button--minimal">{{ "auth.sign_in.continue_as_guest" | user_t }}</a>
    {%- endif -%}

  {% endform %}
</div>

{% schema %}
  {
    "name": "Log in form",
    "important": true,
    "unique": true,
    "templates": ["login"],
    "settings": []
  }
{% endschema %}
