{{ "account.css" | asset_url | stylesheet_tag }}

<div class="account">
  <h3 class="account__title">{{ "auth.sign_up.title" | user_t }}</h3>
  <div class="account__divider">
    {{ "auth.sign_up.already_have_an_account" | user_t }}
    <a class="account__link" href="{{ routes.login_url }}">
      {{ "auth.sign_in_button" | user_t }}
    </a>
  </div>

  {%- if alert -%}
    <div class="account__alert">{{ alert }}</div>
  {%- endif -%}

  {% form 'register' %}
    {%- if form.errors.base != blank -%}
      <div class="account__alert account__alert--danger">{{ form.errors.base }}</div>
    {%- endif -%}

    <div class="{% if form.errors.name %}account-fieldset--error{% endif %}">
      <label for="user_name" class="account-fieldset__label">{{ "auth.fields.full_name" | user_t }}</label>
      <input
        value="{{ form.name }}"
        placeholder=" "
        autofocus="autofocus"
        class="account-fieldset__input"
        autocomplete="name"
        type="name"
        name="user[name]"
        id="user_name">
      <div class="account__error-message">{{ form.errors.name }}</div>
    </div>

    <div class="{% if form.errors.email %}account-fieldset--error{% endif %}">
      <label for="user_email" class="account-fieldset__label">{{ "auth.fields.email" | user_t }}</label>
      <input
        value="{{ form.email }}"
        placeholder=" "
        class="account-fieldset__input"
        autocomplete="email"
        type="email"
        name="user[email]"
        id="user_email">
      <div class="account__error-message">{{ form.errors.email }}</div>
    </div>

    {%- assign password_label = "auth.fields.password" | user_t -%}
    {%- assign password_confirmation_label = "auth.fields.password_confirmation" | user_t -%}
    {%- render 'form-password-session-pages',
        form: form,
        form_name: "register",
        password_label: password_label,
        password_confirmation_label: password_confirmation_label
    -%}

    <div class="{% if form.errors.customer %}account-fieldset--error{% endif %} account__divider">
      <label class="account-fieldset__static-label">{{ "auth.fields.legal_type" | user_t }}</label>

      <div class="account-type-options">
        <div class="account-type-options__first-option">
          <input
            type="radio"
            name="user[legal_type]"
            id="user_legal_type_person"
            value="person"
            {% if form.legal_type == 'person' %}checked{% endif %}>
          <label class="account-fieldset__radio-label" for="user_legal_type_person">{{ "auth.fields.legal_person" | user_t }}</label>
        </div>

        <div>
          <input
            type="radio"
            name="user[legal_type]"
            id="user_legal_type_commercial"
            value="commercial"
            {% if form.legal_type == 'commercial' %}checked{% endif %}>
          <label class="account-fieldset__radio-label" for="user_legal_type_commercial">{{ "auth.fields.legal_commercial" | user_t }}</label>
        </div>
      </div>
      <div class="account__error-message">{{ form.errors.customer }}</div>
    </div>

    <div class="account__divider--small">
      <input
        type="checkbox"
        name="user[agreement_accepted]"
        id="user_agreement_accepted"
        value="true"
        {% if form.agreement_accepted %}checked{% endif %}>
      <label for="user_agreement_accepted">
        {{ "auth.fields.accept_toc" | user_t }}

        <span class="account__agreement">
          <input type="checkbox" id="user_agreement_opener" style="display: none">
          <label for="user_agreement_opener" class="account__agreement-opener">
            {{ "auth.sign_up.terms_and_agreements" | user_t }}
          </label>

          <span class="account__agreement-modal bq-content rx-content" style="display: none">
            <span class="account__agreement-content">
              <span class="account__agreement-inner">
                <label for="user_agreement_opener" class="account__agreement-closer">X</label>

                <span class="account__agreement-text">
                  {{- form.agreement_content -}}

                  <span class="account__agreement-buttons">
                    <label class="account__agreement-button account__button account__button--primary" for="user_agreement_opener">
                      {{ "auth.sign_up.agree" | user_t }}
                    </label>
                  </span>
                </span>
              </span>
            </span>
          </span>
        </span>
      </label>
      <div class="account__error-message">{{ form.errors.agreement_accepted }}</div>
    </div>

    <input
      type="submit"
      class="account__button account__button--primary"
      name="commit"
      value="{{ "auth.sign_up_button" | user_t }}"
    >
  {% endform %}
</div>

{% schema %}
  {
    "name": "Register form",
    "important": true,
    "unique": true,
    "templates": ["register"],
    "settings": []
  }
{% endschema %}
